
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2 class="lead" style="text-align :center"><b>Task Manager</b></h2>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">       
          <h3 style="text-align :center">Assignments Scedual</h3>
          <p style="text-align :center"> Use this site to Manage add, remove, and update Assignments</p>
    </div>
    <div class="col-md-4">
    </div>
</div>
<script src="~/Scripts/app.js"></script>  